{% extends "watershed_delin/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
<link href="{% static 'watershed/css/main.css' %}" rel="stylesheet"/>
<link href="{% static 'watershed_delin/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_navigation_items %}

{% gizmo select_input select_input %}

{% gizmo text_input txtLocation %}

{% gizmo button btnSearch %}

<br>

<div id="search_output"></div>

<hr>

{% gizmo button btnDelineate %}

<div id="delineation_output"></div>

<hr>

<a name="btnDownload" class="btn btn-default" id="btnDownload" onclick="run_download_results()">
            <span class="glyphicon hydroshare" aria-hidden="true"></span>
            <img src="/static/nfie_irods_explorer/images/download_icon.svg" class="button-icon"/>Download Results
        </a>

<a name="to-upload-button" class="btn btn-default" id="upload-button" data-toggle="modal" data-target="#hydroshare-modal" role="button">
            <span class="glyphicon hydroshare" aria-hidden="true"></span>
            <img src="/static/nfie_irods_explorer/images/hydroshare_logo.svg" class="button-icon"/>Upload to HydroShare
        </a>

{% endblock %}


{% block app_content %}
  <p><strong>Instructions:</strong> Search for a location and/or click the map to identify a watershed outlet and stream reach of interest.
    Then click the "Delineate Watershed" button.</p>



{% gizmo map_view map_options %}

 <p><strong>Note:</strong> This app uses the United States
    <a href='http://water.epa.gov/scitech/datait/tools/waters/services/' target="_blank">EPA WATERS Web and Database Services</a>
    and only works for watersheds and drainages in the continental United States and Hawaii. </p>

<!--
<p>Remaining Tasks:</p>
<ol>
    <li>Make sure Tethys is using local ol.js for faster loading</li>
    <li>Create simple tutorial page</li>
    <li>Provide option to store results in HydroShare using Python API</li>
    <li>Provide popup hover info boxes on all features</li>
    <li>On hover on the "Location Search" provide some examples (or default show them in the text box)</li>
    <li>Make a better icon</li>
    <li>Provide copyright and contanct info</li>
    <li>Determine if it is possible to delineate from the location of the measure instead of end of feature.</li>
</ol>
-->

{% endblock %}


{% block scripts %}
<div class="modal fade" id="hydroshare-modal" tabindex="-1" role="dialog" aria-labelledby="AddHydroshareResource">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">Upload File to HydroShare as a Resource(*must)</h6>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="hydro-username" class="control-label">*Hydroshare Username:</label>
                    <input type="text" class="form-control" id="hydro-username">
                </div>
                <div class="form-group">
                    <label for="hydro-password" class="control-label">*Hydroshare Password:</label>
                    <input type="password" class="form-control" id="hydro-password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="credentials-checkbox">Remember me until page refresh (useful if uploading many files)
                    </label>
                </div>
                <div class="form-group">
                    <label for="resource-title" class="control-label">*Resource Title:</label>
                    <input type="text" class="form-control" id="resource-title">
                </div>
                <div class="form-group">
                    <label for="resource-type" class="control-label">*Resource Type:</label>
                    <select class="form-control" id="resource-type">
                        <option>Generic</option>
                        <option>Geographic Raster</option>
                        <option>HIS Referenced Time Series</option>
                        <option>Model Program</option>
                        <option>Model Instance</option>
                        <option>Multidimensional (NetCDF)</option>
                        <option>Time Series</option>
                        <option>Application</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="resource-abstract" class="control-label">*Resource Abstract:</label>
                    <textarea rows="4" cols="50" id="resource-abstract" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="resource-keywords" class="control-label">*Resource Keywords:</label>
                    <input class="form-control" id="resource-keywords" data-role="tagsinput"
                           placeholder="Separate each keyword with a space or comma" onchange="tagChange(event)">
                </div>
            </div>
            <div class="modal-footer">
                <div id="display-status" class="col-md-8"></div>
                <div id="footer-buttons" class="col-md-4">
                    <button type="button" class="btn btn-default footer" data-dismiss="modal" onclick="clearUploadForm()">Close</button>
                    <button type="button" class="btn btn-primary footer" id="hydroshare-proceed">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
  {{ block.super }}
  <script src="{% static 'watershed_delin/js/map.js' %}"></script>
  <script src="{% static 'watershed_delin/js/WATERSServices-1.0.0-min.js' %}"></script>
  <script src="{% static 'watershed_delin/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
  <!--<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ'></script>-->
     <script type="text/javascript"
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPgvDUpbEwcbg9C0cRTfDtDa-Vj4WBwI0">
     </script>
{% endblock %}